name: Stop after 2 minutes and send a Slack message

on:
  push:

jobs:
  timeout_job:
    timeout-minutes: 1
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Sleep for 2 minutes
        run: sleep 120

  slack_message:
    runs-on: ubuntu-latest
    needs: timeout_job
    steps:
      - name: Send Slack message if timed out
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: "Workflow running for more than 2 minutes."
